<nav class="navbar navbar-expand-md fixed-top">
  <div class="container">
    <a class="navbar-brand text-info" href="#">
      <img src="../../../assets/images/logo.svg" alt="Logo mastercraft" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isOpen = !isOpen"    >
      <img #mobileMenuIcon src="../../../assets/images/icon-hamburger.svg" />
    </button>

    <div #navbar
      class="collapse navbar-collapse rounded-3"
      [ngClass]="{ show: isOpen, 'bg-white': isOpen ,'mt-4': isOpen}"
      id="navbarNav"
    >
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item ms-md-5">
          <a class="nav-link"
          [ngClass]="isOpen ? 'text-dark' : 'text-white'"
           href="#">About</a>
        </li>
        <li class="nav-item ms-md-5">
          <a class="nav-link"
          [ngClass]="isOpen ? 'text-dark' : 'text-white'"
           href="#">Discover</a>
        </li>
        <li class="nav-item ms-md-5">
          <a class="nav-link"
          [ngClass]="isOpen ? 'text-dark' : 'text-white'"
           href="#">Get Started</a>

        </li>
      </ul>
    </div>
  </div>
</nav>
