<header>
  <div class="hero">
    <app-navbar></app-navbar>
  </div>
  <div class="boxes">
    <app-box>
      <img
        src="../../assets/images/logo-mastercraft.svg"
        alt="Logo mastercraft"
        class="logo transform-middle position-relative"
      />
      <h1>MasterCraft Bamboo Monitor Rise</h1>
      <p class="text-gray my-4">A beautifully handcrafted monitor stand to reduce neck and eye strain</p>
      <div class="d-flex justify-content-around">
        <app-button></app-button>
      <img src="../../assets/images/icon-bookmark.svg" alt="">
      </div>
    </app-box>
    <app-box>
      <div class="row">
        <div class="col-md-4">
          <h2>89.999</h2>
          <span>cccc</span>
        </div>
        <div class="col-md-4">
          <h2>807</h2>
          <span>cccc</span>
        </div>
        <div class="col-md-4">
          <h2>102</h2>
          <span>cccc</span>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </app-box>
  </div>

</header>
